<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layout Default - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminLayout/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/AdminLayout/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/AdminLayout/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/AdminLayout/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/AdminLayout/assets/css/app.css">
    <link rel="shortcut icon" href="~/AdminLayout/assets/images/favicon.svg" type="image/x-icon">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />


</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a asp-action="Index" asp-area="Admin" asp-controller="Home"><img src="~/AdminLayout/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>Kullanıcı İşlemleri</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Admin" asp-area="Admin">Admin İşemleri</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="ApiUser" asp-area="Admin">Api Kullanıcıları</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Ürün İşlemleri</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Category" asp-area="Admin">Kategoriler</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Product" asp-area="Admin">Ürünler</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-cart-plus"></i>
                                <span>Sipariş İşlemleri</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Customer" asp-area="Admin">Müşteriler</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Supplier" asp-area="Admin">Tedarikçiler</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Order" asp-area="Admin">Siparişler</a>
                                </li>
                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-box-seam"></i>
                                <span>Depo İşlemleri</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Warehouse" asp-area="Admin">Depolar</a>
                                </li>

                                <li class="submenu-item ">
                                    <a asp-action="Index" asp-controller="Stock" asp-area="Admin">Stoklar</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main" class='layout-navbar'>
            <header class="mb-3">
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown me-1">
                                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class='bi bi-envelope bi-sub fs-4 text-gray-600'></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Mail</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">No new mail</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class='bi bi-bell bi-sub fs-4 text-gray-600'></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Notifications</h6>
                                        </li>
                                        <li><a class="dropdown-item">No notification available</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">John Ducky</h6>
                                            <p class="mb-0 text-sm text-gray-600">Administrator</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="assets/images/faces/1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <h6 class="dropdown-header">Hello, John!</h6>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="icon-mid bi bi-person me-2"></i> My
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="icon-mid bi bi-gear me-2"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="icon-mid bi bi-wallet me-2"></i>
                                            Wallet
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="icon-mid bi bi-box-arrow-left me-2"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-content">
                <div class="page-heading">
                    @await Component.InvokeAsync("Breadcrumb")
                    @RenderBody()
                    <footer>
                        <div class="footer clearfix mb-0 text-muted">
                            <div class="float-start">
                                <p>2021 &copy; Mazer</p>
                            </div>
                            <div class="float-end">
                                <p>
                                    Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        @RenderSection("Scripts", required: false)
        @await Component.InvokeAsync("Notyf")



        <!-- jQuery (İlk olarak yüklenmeli, diğer kütüphanelere bağımlılık var) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap JS (jQuery'ye bağlı olduğu için jQuery'den sonra gelmeli) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Select2 (jQuery'ye bağlı olduğu için üçüncü sırada) -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

        <!-- SweetAlert2 (Bağımsız, sıralamadan etkilenmez) -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Perfect Scrollbar (Bağımsız ama ana yapıya bağlı olabilir) -->
        <script src="~/AdminLayout/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>

        <!-- ApexCharts (Bağımsız bir grafik kütüphanesi) -->
        <script src="~/AdminLayout/assets/vendors/apexcharts/apexcharts.js"></script>

        <!-- Dashboard (Grafik ve bileşenlere bağımlı olabilir, bu yüzden sonra gelir) -->
        <script src="~/AdminLayout/assets/js/pages/dashboard.js"></script>

        <!-- Ana JS (Tüm yapıya bağlı olabileceği için en sona alınmalı) -->
        <script src="~/AdminLayout/assets/js/main.js"></script>




    </div>
</body>

</html>