@model ResetPasswordVM

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <label>Yeni Şifre:</label>
    <input asp-for="NewPassword" class="form-control" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>

    <label>Yeni Şifre Tekrar:</label>
    <input asp-for="ConfirmPassword" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
</form>
